#main-1{
    background-image: url(../Imagens/fundo-main-10.jpg);
    background-repeat: no-repeat;
    height: 50vh;
}

#main-2{
    height: 60vh;
}

#container1{
    margin-left: 50%;
    margin-top: 5%;
    width: 50%;
    height: 85%;
    background-color: #0d9bba;
}

#img1{
    position: absolute;
    margin-top: 5%;
    margin-left: 33%;
    width: 20%;
    transition: 0.6s;
}

#img1:hover{
    width: 23%;
    margin-top: 4%;
    margin-left: 30.5%;
}

#con-title1{
    position: absolute;
    color: white;
    margin-left: 20%;
    margin-top: 3%;
    font-size: 26px;
}

#rox1{
    position: absolute;
    margin-left: 25%;
    margin-top: 5.5%;
}

.text-model{
    position: absolute;
    font-family: 'Titillium Web',sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 70%;
}

.input-base2{
    position: absolute;
    background-color: #e4e4e4;
    border-radius: 5%;
    font-size: 110%;
}

#nome-mov{
    margin-top: 10%;
    margin-left: 10%;
}

#n1{
    margin-top: 11%;
    margin-left: 10%;
}

#email-mov{
    margin-top: 14%;
    margin-left: 10%;
}

#e1{
    margin-top: 15%;
    margin-left: 10%;
}

#cel-mov{
    margin-top: 18%;
    margin-left: 10%;
}

#c1{
    margin-top: 19%;
    margin-left: 10%;
}

#msg-mov{
    margin-top: 10%;
    margin-left: 25%;
}

#msg1{
    margin-top: 11%;
    margin-left: 25%;
}

#av-mov{
    margin-top: 22%;
    margin-left: 10%;
}

#av1{
    margin-top: 23%;
    margin-left: 11.5%;
}

#env1{
    position: absolute;
    margin-top: 22%;
    margin-left: 30.5%;
}