body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(83, 122, 4);
}

main{
    position: absolute;
    margin-top: 300px;
    margin-left: 35%;
    padding: 60px;
    padding-bottom: 20px;
    width: auto;
    height: auto;
    border: 2px solid black;
    background-color: rgb(46, 99, 246);
}

#text1{
    font-size: 28px;
}

#nick{
    font-size: 20px;
    margin-top: 3%;
}

#sub1{
    margin-top: 30px;
    margin-left: 280px;
}